# version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: examuser
      POSTGRES_PASSWORD: exampass
      POSTGRES_DB: examdb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./Backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+asyncpg://examuser:exampass@db:5432/examdb
      SEED_DATA: "false"
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
    command: ["./entrypoint.sh"]

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    depends_on:
      - db
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  frontend: 
    build: 
      context: ./Frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend

volumes:
  db_data:
  pgadmin_data:
